@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap');

body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  font-family: sans-serif,"Shadows Into Light";
   background-color:antiquewhite ;
  display: grid;
}
#root{
  background-color: rgba(14, 13, 13, 0.945);
  width: 500px;
  height: 100vh;
  place-self: center;
}

.nheader{
  color: aliceblue;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}



.button-9 {
  background: #111111;
    border-radius: 0.8rem;
    padding: 0.8rem;
    font-size: 1.6rem;
    color: var(--color-white);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
    border: none;
}
.button-9:hover{background: #2b2a2a;
 cursor: pointer;
    box-shadow: none;
}
header h2{
  z-index: 9;
}
header input{
  padding: 0.7rem 1rem;
    background: transparent;
    border: 1px solid #3a3a3a;
    border-radius: 0.6rem;
    color: var(--color-white);
    font-size: 1.1rem;
    width: 100%;
    margin-right: 1.5rem;
    z-index: 8;
}

.add{
 position: fixed;
    bottom: 4rem;
    right: 7rem;
    padding: 1rem;
  
}
.note{
  display: grid;
  
  background: rgba(250, 59, 250, 0.897);
  color: white;
  max-width: 200px;
  max-height: 200px;
  padding: 1rem;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0.5rem 0;
}
